/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;

  --clr-light: #fff;
  --clr-gray:	#707070;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  /* --clr-accent: #4CC3C9; */
}

html {
  font-size: 10px;
  font-family: var(--ff-primary);
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: var(--clr-light);
  background-color: transparent;
  border: 2px solid var(--clr-accent);
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: var(--clr-light);
  background-color: var(--clr-accent)
}

.section-title-underline {
  border-top: solid 3px var(--clr-dark);
  width: 75px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
}

/* Header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  /* min-height: 8vh; */
  min-height: 10vh;
  background-color: rgba(31,30,30,0.24);
  position: fixed;
  transition: .3s ease background-color;
}

#header h1 span {
  color: var(--clr-light);
  font-size: 1.2em;
  border: solid 1px var(--clr-light);
  padding: 8px;
  border-radius: 5px;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: var(--clr-dark);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-decoration: none;
  color: var(--clr-light);
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	/* transition: .3s ease letter-spacing; */
}

#header .nav-list ul a:hover {
  color: var(--clr-accent);
  transition: .5s ease;
}

#header .hamburger {
  height: 50px;
  width: 50px;
  display: inline-block;
  /* border: 2px solid var(--clr-light); */
  border-radius: 15%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
	transform: scale(.8);
	/* margin-right: 20px; */
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: var(--clr-light);
	z-index: -1;
}

/* hamburger 3 lines to 1 */
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: var(--clr-light);
	transition: .3s ease; */
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 9px;
}
#header .hamburger .bar::before {
	bottom: 9px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

/* Hero section */
#hero {
  background-image: url(./images/mountains.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .4;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 3rem;
  font-weight: 600;
  margin: .1em;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}

#hero h1 strong {
  color: transparent;
  animation: text_reveal_strong .5s ease forwards;
  animation-delay: 1s;
}

#hero h1:nth-child(1) {
  animation-delay: 1s;
}

#hero h1:nth-child(2) {
  animation-delay: 2s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--clr-accent);
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
}

#hero h1:nth-child(1) span {
  animation-delay: .5s;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

/* About section */

#about {
  border-top: solid 2px var(--clr-accent);
}

#about .about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

#about .about h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

#about .about .flex-container {
  display: flex;
}

#about .column-left {
  flex: 2;
  min-height: 300px;
  /* border: solid 1px red; */
  text-align: left;
  padding: 30px;
}

#about .column-left h2 {
  font-size: 2rem;
}

#about .column-left p {
  font-family: var(--ff-secondary);
  color: var(--clr-gray);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  padding-top: 20px;
  padding-right: 30px;
}

#about .column-left .about-links {
  margin-top: 25px;
}

#about .column-left .about-links a i {
  display: inline-block;
  margin-right: 20px;
  font-size: 4em;
  color: #29323c;
}

#about .column-left .about-links a i:hover {
  color: #4a4a4a;
}

#about .column-left .cta {
  position: relative;
  bottom: 9px;
  margin-top: 0px;
  padding: 10px 20px;
  font-size: 1.3rem;
  color: #29323c;
  border: solid 2px #29323c;
  border-radius: 3px;
  box-shadow: 0 0 1px black inset;
}

#about .column-left .cta:hover {
  background-color: #4a4a4a;
  color: var(--clr-light);
}

#about .column-right {
  flex: 1;
  min-height: 300px;
  /* border: solid 1px blue; */
}

#about .column-right .about-img img {
  max-width: 100%;
  min-width: 250px;
  min-height: 250px;
  padding-right: 35px;
  width: 300px;
}

/* Experience */

#experience {
  background-color: #ebebeb;
  /* background-image: linear-gradient(#ebebeb 0%, var(--clr-light) 100%); */
}

#experience .experience {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

#experience .experience h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

#experience .experience h2 {
  font-size: 2rem;
  padding-top: 30px;
}

#experience .experience .tech-container {
  /* border: solid 1px green; */
  padding: 20px 20px 0 20px;
}

#experience .experience .tech-container .tech-icon-container {
  /* border: solid 1px red; */
  display: inline-block;
  width: 110px;
  height: 110px;
  position: relative;
}

#experience .experience .tech-container .tech-icon-container i,
#experience .experience .tech-container .tech-icon-container img {
  margin: 0;
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 7em;
  /* filter: brightness(0); */
}

/* Porfolio */
/* #portfolio {
  background-image: linear-gradient(#ebebeb 0%, var(--clr-light) 100%);
} */

#portfolio .portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

#portfolio .portfolio h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

#portfolio .portfolio h2 {
  font-size: 2rem;
  padding-top: 30px;
}

#portfolio .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}

#portfolio .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
}

#portfolio .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

#portfolio .project-info h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

#portfolio .project-info h2 {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0;
  margin-top: 10px;
}

#portfolio .project-info .pill-container {
  width: 100%;
  text-align: left;
}

#portfolio .project-info .pill-container .pill {
  display: inline-block;
  margin-top: 12px;
  margin-right: 5px;
  padding: 3px 8px;
  font-size: 1.3em;
  font-weight: 700;
  color: var(--clr-light);
  background-color: transparent;
  border: solid 1px var(--clr-accent);
  border-radius: 12px;

}

#portfolio .project-info p {
  color: #D3D3D3;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  margin-top: 10px;
}

#portfolio .project-img {
  /* flex-basis: 50%; */
  height: 300px;
  overflow: hidden;
  position: relative;
}

#portfolio .project-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .2;
}

#portfolio .project-img img {
  width: 100%;
}

#portfolio .project-img img {
  transition: .3s ease transform;
}

#portfolio .project-item:hover .project-img img {
  transform: scale(1.1);
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

/* Contact/Footer */
#contact {
  /* background-color: #29323c; */
  background-color: #2c3540;
}

#contact .contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

#contact .contact h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--clr-light);
}

#contact .contact h2 {
  font-size: 2rem;
  padding-top: 30px;
  color: var(--clr-light);
}
#contact .section-title-underline {
  border-top: solid 3px var(--clr-light);
}

#contact .form-container {
  /* border: solid 1px white; */
  width: 100%;
}

#contact .form {
  /* border: solid 1px yellow; */
  width: 500px;
  padding: 30px 10px;
  margin: 0 auto;
  text-align: right;
}

#contact .form .form-input {
  font-size: 1.5em;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 3px;
  color: white;
  background-color: #1E242C;
  border: none;
  border-radius: 3px;
}

#contact .form .form-input:focus {
  outline: none;
}

#contact .form .form-message {
  resize: both;
  overflow: auto;
  line-height: 1.6em;
}

#contact .form .cta {
  margin: 0;
  font-size: 1.2em;
  margin-top: 5px;
}

/* Footer */
#footer {
  /* border-top: solid 1px var(--clr-accent); */
  background-color: #1E242C;
  height: 100px;
}

#footer .footer {
  max-width: 1200px;
  margin: 0 auto;
  /* border: solid 1px yellow; */
  text-align: center;
  height: 100%;
}

#footer .footer p {
  padding-top: 40px;
  font-size: 1.4em;
  color: gray;
  text-transform: uppercase;

}

#footer .footer p span {
  color: var(--clr-accent);
}


/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: var(--clr-light);
  }
}

@keyframes text_reveal_strong {
  100% {
    color: var(--clr-accent);
  }
}

/* Media Query - Tablet */
@media only screen and (min-width: 768px){

  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.3em;
  }

  #hero h1 {
    font-size: 4rem;
  }

  .cta {
    font-size: 2rem;
  }

}

/* Media Query - Desktop */
@media only screen and (min-width: 1200px){


}
